@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');


:root{
 --brightYellow:#E3B505;
 --darkBrown:#BB9457;
 --yellow:rgb(242, 180, 80);
 --brown:#382923;
 --black:#191919;
 --grey:#A9B2AC;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
   url('../img/bodyBcg.jpeg');
   color: var(--black);
}

/* Global Styles */
.bell-fonts {
   font-family: 'La Belle Aurore', cursive;
}
/* End of global styles */

/* Header Styles */
.header {
   height: 100vh;
   display: grid;
   grid-template-columns: 80%;
   justify-content: center;
   align-items: center;
   /* text-align: center; */
   position: relative;
}

/* Banner */
.banner {
   text-align: center;
   z-index: 3;
}
.banner__title {
   font-size: 4rem;
   text-transform: capitalize;
   color: var(--brightYellow);
}
.banner__social-icons {
   display: block;
   text-decoration: none;
   color:var(--black);
   border: 0.1rem solid var(--black);
   border-radius: 50%;
   padding: 0.25rem;
   transition: all .5s linear;
}
.banner__social-icons:hover {
   background: var(--brightYellow);
   color: var(--black);

}
.banner__icons {
   width: 50%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4,2rem);
   grid-column-gap: 1rem;
   justify-content: center;
}

/* Media Queries | Responsiveness - Max Width */
@media screen and (max-width: 768px){
   /* Header responsiveness style */
   .header {
      background: url('../img/headerBcg.jpeg')center/cover fixed no-repeat;
      /* background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat; */
   }
}

/* Media Queries Responsivenss - Min Width */
@media screen and (min-width: 768px){
   .banner__title {
      font-size: 9rem;
   }
}